<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="css/index.css" >
        <title>Online Chat</title>
        <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon">
</head>
<body>
    <div class="Options">
        <main class="ChatBlock">
            <div class="ChatBlock__SiteBar">
                <div class="ChatBlock__Search">
                    <input placeholder="Поиск..." class="ChatBlock__SearchFriend" type="text">
                </div>
                <div class="ChatBlock__FriendsList">
                    <div class="ChatBlock__Friend1 FriendVisual FriendVisualOne">
                        <div class="ChatBlock__FriendAvatar">
                           <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar1.jpg" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Капитан Джек Воробей</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend2 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                            <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar.jpg" alt="">
                         </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Роман Громов</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend3 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                            <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar5.png" alt="">
                         </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Lurke aka Алёша</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend4 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                            <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar4.png" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Legolas (НеФейк)</p>
                        </div>
                    </div>
                    <div class="ChatBlock__Friend5 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                                <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar2.jpg" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Rasl Бустер</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend6 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                                <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar3.jpg" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Frojer Максик</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend7 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                                <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar8.jpg" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Саня тёмный (Сапорт)</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend8 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                            <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar6.png" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Сеня свет паладинов</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend9 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                            <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar9.jpg" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Dndd познай силу WEB`а</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend10 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                            <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar10.jpg" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Green Apple</p>
                        </div>
                    </div>

                    <div class="ChatBlock__Friend11 FriendVisual">
                        <div class="ChatBlock__FriendAvatar">
                            <img class="ChatBlock_FriendAvatarImg" src="images/UserAvatar7.jpg" alt="">
                        </div>
                        <div class="ChatBlock__FriendName">
                            <p class="ChatBlock__FriendNameText">Ира FOX FIRE</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ChatBlock__UserContent">
                <div class="ChatBlock__Communication">
                    <div class="ChatBlock__Message">
                        <div class="ChatBlock__MessagePullFriend">
                            <img class="ChatBlock__FriendImg" src="images/UserAvatar1.jpg" alt="">
                            <div class="ChatBlock__FriendMessage">
                                <p>Где мой корабль?</p>
                            </div>
                        </div>
                        <div class="ChatBlock__MessagePullFriend">
                            <img class="ChatBlock__FriendImg" src="images/UserAvatar1.jpg" alt="">
                            <div class="ChatBlock__FriendMessage">
                                <p>Ты не знаешь?</p>
                            </div>
                        </div> 
                        <div class="ChatBlock__MessagePullFriend UserMesage">
                                <img class="ChatBlock__FriendImg" src="images/UserAvatar5.png" alt="">
                                <div class="ChatBlock__FriendMessage">
                                    <p>Соре, помочь не могу, не знаю где он</p>
                                </div>
                        </div>
                        <div class="ChatBlock__MessagePullFriend UserMesage">
                                <img class="ChatBlock__FriendImg" src="images/UserAvatar5.png" alt="">
                                <div class="ChatBlock__FriendMessage">
                                    <p>Но могу зачитать реп!</p>
                                </div>
                        </div> 
                        <div class="ChatBlock__MessagePullFriend">
                                <img class="ChatBlock__FriendImg" src="images/UserAvatar1.jpg" alt="">
                                <div class="ChatBlock__FriendMessage">
                                    <p>Не, сяб )))0)</p>
                                </div>
                        </div>
                        <div class="ChatBlock__MessagePullFriend UserMesage">
                            <img class="ChatBlock__FriendImg" src="images/UserAvatar5.png" alt="">
                            <div class="ChatBlock__FriendMessage">
                                <p>Как хочешь, бро )</p>
                            </div>
                    </div>
                    </div>
                </div>
                <div class="ChatBlock__UserMessage">
                    <input placeholder="Сообщение" class="ChatBlock__UserMessageInput" type="text">
                    <button class="ChatBlock__UserMessageButton"><img class="ChatBlock__UserMessageButtonImages" src="images/gogo.png" alt=""></button>
                </div>
            </div>
        </main>
    </div>    
</body>
</html>