* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:active, button:focus {
    outline: none !important;
    }
body {
    background-color: rgba(123, 73, 238, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Options {
    display: flex;
    justify-content: center;
}
.ChatBlock {
    width: 900px;
    height: 600px;
    border-radius:$border-radius-style;
    border:$border-style;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 5px 2px rgb(175, 175, 175);
}
.ChatBlock__SiteBar {
    width: 30%;
    height: 100%;
    border-right:$border-style;
}
.ChatBlock__UserContent {
    width: 70%;
    height: 100%;
}
.ChatBlock__Message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}
.ChatBlock__MessagePullFriend {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.ChatBlock__FriendMessage {
    background-color:white;
    border-radius: $border-radius-style;
    padding: 0 10px;
    border: $border-style;
}
.UserMesage {
    display: flex;
    flex-direction: row-reverse;
}
.ChatBlock__FriendImg {
    width: 50px;
    height: 50px;
    border-radius: $border-radius-style;
    margin:0 10px ;
    border: $border-style;
}

.ChatBlock__Search {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ChatBlock__SearchFriend{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-radius: $border-radius-style;
    border:$border-style;
    padding-left:40px;
    background: url(../images/src.png) no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;
}
.ChatBlock__SearchFriend:focus {
    border: 1px solid rgb(82, 46, 245);
}
.ChatBlock__FriendsList {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.ChatBlock__FriendsList::-webkit-scrollbar {
    width: 0;
}
.ChatBlock__Communication {
    width: 100%;
    height: 520px;
    background-color: rgba(214, 229, 255, 0.432);
    // background: linear-gradient(rgba(172, 233, 235, 0.808), rgba(172, 205, 235, 0.808));
    border-radius: 0 $border-radius-style 0 0;
}
.ChatBlock__UserMessage {
    width: 100%;
    height: 77px;
    border-top:$border-style;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgb(233, 233, 233);
    border-radius: 0 0 $border-radius-style 0;
}
.FriendVisual {
    min-height: 60px;
    width:88%;
    border-radius:$border-radius-style;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.FriendVisualOne {
    background-color: rgba(161, 202, 248, 0.76);;
}
.FriendVisual:hover {
    background-color: rgba(161, 202, 248, 0.521);
    cursor: pointer;
}
.ChatBlock__FriendAvatar {
    width: 50px;
    height: 50px;
    background-color: rgb(245, 109, 46);
    border-radius: $border-radius-style;
}
.ChatBlock__FriendNameText {
    margin-left: 30px;
}
.ChatBlock_FriendAvatarImg {
    width: 50px;
    height: 50px;
    border-radius:$border-radius-style;
}
.ChatBlock__UserMessageInput {
    width: 80%;
    height: 40px;
    padding-left: 10px;
    border:$border-style ;
    border-right: none;
}
.ChatBlock__UserMessageButton {
    height: 40px;
    background-color: white;
    border: $border-style;
}
.ChatBlock__UserMessageButton:hover {
    border: 1px solid rgb(46, 132, 245);
}
.ChatBlock__UserMessageButtonImages {
    width: auto;
    height: 100%;
}