* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgba(123, 73, 238, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Options {
    display: flex;
    justify-content: center;
    width: 100%;
}
.ChatBlock {
    width: 900px;
    height: 600px;
    border-radius:$border-radius-style;
    display: flex;
    background-color: $white;
    box-shadow: 0px 0px 5px 2px rgb(175, 175, 175);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

}
.ChatBlock__SiteBar {
    width: 300px;
    height: 100%;
    border-right:$border-style;
    
    @include adaptive(mobile) {
        width: 200px;
        position: relative;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}
.ChatBlock__UserContent {
    width: 100%;
    height: 100%;
    
    @include adaptive(mobile) {
        height: 600px;
        position: absolute;
        z-index: 1;
    }
}
.ChatBlock__Message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    padding: 10px;
    overflow-y: scroll;
}
.ChatBlock__MessagePullFriend {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.ChatBlock__FriendMessage {
    background-color:$white;
    border-radius: $border-radius-style;
    border: $border-style;
    position: relative;
    margin-left: 10px;
    animation-name:show;
    animation-duration:0.3s;

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 15px;
        top: 0;
        bottom: 0;
        left: -8px;
        margin: auto;
        background-color: $white;
        border: $border-style;
        border-top: none;
        border-right: none;
        transform: rotate(45deg);

        @include adaptive(mobile) {
            display: none;
        }
    }

    p {
        margin: 0;
        padding: 16px 10px;
        border-radius: $border-radius-style;
        background-color:$white;
    }

    @include adaptive(mobile) {
        margin-left: 0px;
      }
}
.UserMesage {
    display: flex;
    flex-direction: row-reverse;

    @include adaptive(mobile) {
        flex-direction: row;
    }

    .ChatBlock__FriendMessage {
        margin-left: 0;
        margin-right:10px ;
        
        &::before {
            left: auto;
            right: -8px;
            border: $border-style;
            border-bottom: none;
            border-left: none;

            @include adaptive(mobile) {
                display: none;
            }
        }
    }
}
.ChatBlock__FriendImg {
    width: 50px;
    height: 50px;
    border-radius: $border-radius-style;
    margin:0 10px ;
    border: $border-style;
    flex-shrink: 0;
    animation-name:show;
    animation-duration:0.3s;
}
.ChatBlock__Search {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.ChatBlock__SearchFriend{
    width: 90%;
    height: 40px;
    padding: 10px;
    border:$border-style;
    padding-left:40px;
    background: url(../images/src.png) no-repeat;
    background-size: 20px;
    background-position-y: center;
    background-position-x: 10px;

}
.ChatBlock__FriendsList {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: #fff;
}
.ChatBlock__FriendsList::-webkit-scrollbar-track, .ChatBlock__Message::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.ChatBlock__FriendsList::-webkit-scrollbar, .ChatBlock__Message::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

.ChatBlock__FriendsList::-webkit-scrollbar-thumb, .ChatBlock__Message::-webkit-scrollbar-thumb
{
	background-color: rgb(99, 128, 160);
}
.ChatBlock__Communication {
    width: 100%;
    height: 520px;
    background-color: rgba(214, 229, 255, 0.432);
    border-radius: 0 $border-radius-style 0 0;
    padding-top: 4px;

    @include adaptive(mobile) {
        height: 492px;
    }
}
.ChatBlock__UserMessage {
    width: 100%;
    height: 77px;
    border-top:$border-style;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 $border-radius-style 0;
}
.FriendVisual {
    height: 60px;
    width:100%;
    margin-top: 10px;
    padding: 5px;
    padding-left:15px;
    display: flex;
    align-items: center;
    border-left: 4px solid rgba(161, 202, 248, 0.76);
    animation-name:show;
    animation-duration:0.3s;

    @include adaptive(mobile) {
        padding-left:10px;
    }
}
@keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.FriendVisualOne {
    background-color: $lightBlue;
    border-color: rgba(245, 123, 23, 0.897);
}
.FriendVisual:hover {
    background-color: $lightBlue;
    cursor: pointer;
}
.FriendNumber {
    color: red;
    float: right;
}
.ChatBlock__FriendAvatar {
    width: 50px;
    height: 50px;
    border-radius: $border-radius-style;
}
.ChatBlock__FriendNameText {
    margin-left: 30px;
    width: 100px;
}

.ChatBlock_FriendAvatarImg {
    width: 50px;
    height: 50px;
    border-radius:$border-radius-style;
}
.ChatBlock__UserMessageInput {
    width: 80%;
    height: 40px;
    padding-left: 10px;
    border:$border-style ;
    border-right: none;
    @include adaptive(wide-tablet) {
      width: 80%;
    }
    
    @include adaptive(tablet) {
      width: 70%;
    }
    
    @include adaptive(mobile) {
      width: 68%;
    }
}
.ChatBlock__UserMessageButton {
    height: 40px;
    width: 60px;
    background-color: $white;
    border: $border-style;
}
.ChatBlock__UserMessageButtonImages {
    width: auto;
    height: 60%;
}
.Close{
    display:none;
}
.ChatBlock__MobileAdaptive {
    width: 95%;
    height: 30px;
    background-color: #fff;
    display:none;
    text-align: center;
    border-radius:5px;
    @include adaptive(mobile) {
        display:block;
    }
}